node_modules
dist
.env
.env.local
.env.production
__pycache__
*.pyc
*.pyo
*.pyd
.db
.sqlite
.git
.gitignore
.vscode
.idea
*.log
model_training/vector_store
model_training/vector_store_examples
data/*.mp3
data/welcome_*.mp3
data/tts_*.mp3
