services:
  aureeq-proxy:
    image: nginx:stable-alpine
    container_name: aureeq-proxy
    ports:
      - "80:80"
      - "443:443"
    volumes:
      - ./nginx.conf:/etc/nginx/conf.d/default.conf:ro
      - ./certs:/etc/nginx/ssl:ro
    depends_on:
      - aureeq-frontend
      - aureeq-backend
    networks:
      - aureeq-net
    restart: always

  aureeq-backend:
    build:
      context: .
      dockerfile: Dockerfile.backend
    image: aureeq-backend:latest
    container_name: aureeq-backend
    environment:
      - OLLAMA_HOST=http://aureeq-ai:11434
      - OPENAI_API_KEY=${OPENAI_API_KEY}
    depends_on:
      - aureeq-ai
    volumes:
      - ./data:/app/data
      - ./model_training/scripts/aureeq.db:/app/model_training/scripts/aureeq.db
    networks:
      - aureeq-net
    restart: always

  aureeq-ai:
    build:
      context: .
      dockerfile: Dockerfile.ollama
    image: aureeq-ai:latest
    container_name: aureeq-ai
    volumes:
      - ollama_storage:/root/.ollama
    networks:
      - aureeq-net
    restart: always

  aureeq-frontend:
    build:
      context: .
      dockerfile: Dockerfile.frontend
    image: aureeq-frontend:latest
    container_name: aureeq-frontend
    networks:
      - aureeq-net
    restart: always

networks:
  aureeq-net:
    name: aureeq-net
    driver: bridge

volumes:
  ollama_storage:
    name: aureeq_ollama_storage
