services:
  backend:
    build:
      context: .
      dockerfile: model_training/scripts/Dockerfile
    ports:
      - "8001:8001"
    environment:
      - OLLAMA_HOST=http://ollama:11434
    depends_on:
      - ollama
    volumes:
      - ./data:/app/data
      - ./model_training/vector_store:/app/model_training/vector_store
      - ./model_training/vector_store_examples:/app/model_training/vector_store_examples

  ollama:
    image: ollama/ollama:latest
    container_name: ollama
    ports:
      - "11434:11434"
    environment:
      - OLLAMA_HOST=0.0.0.0
      - OLLAMA_ORIGINS=*
    volumes:
      - ollama_storage:/root/.ollama

  frontend:
    build:
      context: .
      dockerfile: frontend/Dockerfile
    ports:
      - "5173:5173" # Port 5173 for local testing
    depends_on:
      - backend

volumes:
  ollama_storage:
